Package: com.libretro.snes9x2018
Name: snes9x2018
Depends: 
Version: 1.52.5
Architecture: RPi3
Description: Libretro core of Snes9x 2018
Maintainer: gargan26
Author: gargan26
Section: System
Tag: role::developer
